/*
    Pilko teksto spalva
    #666;

    Bloko viršutinio border ir h1 spalva:
    #0974b3

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: left 20px;
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    color: #666;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #f5f5f5;

}
article{
    border: 1px blur rgb(203, 199, 199);
    opacity: 1;    
    width: 46%;
    height: 350px;
    padding: 20px;
    border-top: 7px solid #0974b3;
    background-color: white;

        
    
}
div.text{
    padding-top: 15px;
}

h1 {
    color: #0974b3;
    line-height: 1em;
}


img {
    height: 210px;
    width: 150px;
    float: left;
    margin-right: 20px;
    
}
p{
    text-align: left;
    line-height: 1.3em;
}

a{
    color: rgb(80, 15, 15);
}

.column {
    float: left;
    width: 22%;
    height: 460px;
    background: white;

}

.space {
    float: left;
    width: 2%;
    border: none;
    background-color: #f5f5f5;

}

.different{
    height: 180px;
    width: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 8px;
}